[Unit]
Description=Relaunch emulationstation after retrocard usb keys unmount
Requires=media-usb.umount
After=media-usb.umount

[Service]
ExecStart=/usr/bin/emulationstation

[Install]
WantedBy=media-usb.umount
