[Unit]
Description=Mount retrocard usb keys
Requires=media-usb.mount
After=media-usb.mount

[Service]
ExecStart=/home/pi/retrocard/launch.sh

[Install]
WantedBy=media-usb.mount
